<!DOCTYPE html>
html(lang="zh-cn")
head
	meta(charset="UTF-8")
	title 其实你不懂她
	meta(meta name="viewport" content="width=device-width, target-densityDpi=device-dpi, user-scalable=yes")
	link(rel="stylesheet", href="images/style.css")
	script(src="images/jquery.js")
	script(src="images/touch.js")
	script(src="images/viewport.js")		
	script(src="images/main.js")	
body
	.page.pro
		img.allimg(src="images/pro.png", alt="")
	.page.mm#mm
		img.allimg(src="images/mm.png", alt="")	
		.layert.txt1
			span 我	
		.layer.layer1
			img.img1#img1(src="images/lay1.png", alt="")
		.layert.txt2
			span 要					
		.layer.layer2
			img.img2#img2(src="images/lay2.png", alt="")	
		.layert.txt3
			span 约						
		.layer.layer3
			img.img3#img3(src="images/lay3.png", alt="")
		.layert.txt4				
			span 会						
		.layer.layer4
			img.img4#img4(src="images/lay4.png", alt="")			
		.action


	