<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    title Document
    link(rel="stylesheet", href="style.css")
    link(rel="stylesheet", href="abc/_b.css")
    script(src="a.js")
  body
    h1 hello jade
    p lerong is a harte

  